

/* Load Roboto for global text */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Load Rubik for the title */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700;800;900&display=swap');

html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* index.css */
body {
  font-family: 'Roboto', sans-serif; /* Example font */
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, div {
  font-family: inherit; /* ensures all text elements use the body font */
}

